.OurHistoryMainWrapper {
    .OurHistory {
        overflow: hidden;
        padding: 2rem 7rem;
        background-image: url('/Images/Rectangle 12 BG.svg');
        // height: 2250px;
        background-size: cover;


        h2 {
            font-family: Jost;
            font-size: 20px;
            font-weight: 300;
            line-height: 20px;
            text-align: center;
            color: #666666;
        }

        h1 {
            font-family: Jost;
            font-size: 35px;
            font-weight: 400;
            line-height: 35px;
            text-align: center;
            color: #05CBF2;
        }
        .history-card-main{
            padding-top: 2rem;
            .history-card-left{
               .history-img{
                width: 100%;
                overflow: hidden;
                height: fit-content;
               }
                img{
                    width: 100%;
                    transition: 1s;
                }
                img:hover{
                    transform: scale(1.2);
                }
            }
            .right-img{
                margin-left: -2.5rem;
            }
            .history-card-right{
                display: flex;
                position: relative;
                align-items: center;
                z-index: 4;
             
                .history-details{
                    margin-left: -2.5rem;
                    width: 100%;
                    height: 350px;
                
                    background: linear-gradient(180deg, #9BF0F5 0%, #DEF4FF 100%);

                    background-size: cover;
                    padding: 20px;
                    box-shadow: 0px 2px 5px 0px #00000040;

                    h4{
                        font-family: Jost;
                        font-size: 20px;
                        color: #515151;
                        font-weight: 300;
                        line-height: 22px;
                        filter: drop-shadow(2px 3px 2px #000000b6);
                    }
                    .history-content{
                        height: 90%;
                        justify-content: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        h3{
                            background: linear-gradient(to right, #05CBF2, #0554F2);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-family: Jost;
                            font-size: 20px;
                            font-weight: 300;
                            line-height: 22px;
                            text-align: center  ;
                        }
                        p{
                            font-family: Jost;
                            font-size: 18px;
                            font-weight: 300;
                            line-height: 24px;
                            letter-spacing: 0.03em;
                            text-align: center;
                            color: #666666;
                        }
                    }
                }
                .left-content{
                    margin-left: 0rem;
                }
            }
        }
    }

    @media(max-width:576px){
        .OurHistory {
            padding: 1rem !important;
    
            h1 {
                font-size: 25px;
                line-height: 25px;
            }
            .right-img{
                margin-left: 0rem !important;
            }
            .history-details{
                margin-left: 0rem !important;
                height: auto !important;
                h4{
                    font-size: 15px !important;
                }
                .history-content{
                    height: 90%;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h3{
                        font-size: 19px !important;
                    }
                    p{
                        font-size: 13px !important;
                        line-height: 17px !important;
                    }
                }
            }
        }
    }
    @media(min-width:576px) and (max-width:991px){
        .OurHistory {
            padding: 1rem !important;
    
            h1 {
                font-size: 25px;
                line-height: 25px;
            }
            .right-img{
                margin-left: 0rem !important;
            }
            .history-details{
                margin-left: 0rem !important;
                height: auto !important;
                h4{
                    font-size: 15px !important;
                }
                .history-content{
                    height: 90%;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h3{
                        font-size: 19px !important;
                    }
                    p{
                        font-size: 13px !important;
                        line-height: 17px !important;
                    }
                }
            }
        }
    }
    @media(min-width:991px) and (max-width:1500px){
        .OurHistory {
            padding: 3rem 5rem!important;
    
            h1 {
                font-size: 25px;
                line-height: 25px;
            }
            
            .history-details{
                h4{
                    font-size: 15px !important;
                }
                .history-content{
                    height: 90%;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h3{
                        font-size: 19px !important;
                    }
                    p{
                        font-size: 13px !important;
                        line-height: 17px !important;
                    }
                }
            }
        }
    }
}